<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit a Note</h3>
    <br>
    <form method="post" action="/notes/<%= note._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="note[title]" value="<%= note.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks Good</div>
    </div>
    <div class="mb-3">
        <label for="Content" class="form-label">Content</label>
        <textarea name="note[content]" placeholder="Enter content" type="text" class="form-control" required><%= note.content %></textarea>
        <div class="invalid-feedback">Please enter a short valid content</div>
    </div>
    <button type="submit" class="btn btn-primary">Update Note</button>
    </form>
</div>
</div>